.profile-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.profile-modal-content {
  background-color: white;
  padding: 20px;
  padding-block: 40px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

h2 {
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.profile-modal-form input, .modal-form textarea {
  width: 90%;
  height:50px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
   background-color: white;
}

.profile-modal-form input[type="file"] {
  padding: 0;
}

.introduce{
  width:90%;
  height:100px !important;
}

.profile-close-btn {
  position: absolute;
  bottom:540px;
  left:180px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.profile-submit-btn {
  width: 90%;
  height:40px;
  font-size:16px;
  display: flex;
  align-items: center;
  justify-content:center;
  margin-bottom: 20px;
}
